
/*  Colours
	========================================================================== */

/* 1.2.1 Basics: neutrals & body text colors */
$WCLA24-TotalWhite-100: #fff;

/* 1.2.2 Blacks */
$WCLA24-Black-100: #0C0C0C;
$WCLA24-Black-80: #3D3D3D;
$WCLA24-Black-60: #6D6D6D;
$WCLA24-Black-40: #9E9E9E;
$WCLA24-Black-20: #CECECE;
$WCLA24-Black-10: #E7E7E7;

/* 1.2.3 Dark Reds */
$WCLA24-DarkRed-100: #4B192D;
$WCLA24-DarkRed-80: #6F4757;
$WCLA24-DarkRed-60: #937581;
$WCLA24-DarkRed-40: #B7A3AB;
$WCLA24-DarkRed-20: #DBD1D5;
$WCLA24-DarkRed-10: #EDE8EA;

/* 1.2.4 Pinks */
$WCLA24-Pink-100: #E6788C;
$WCLA24-Pink-80: #EB93A3;
$WCLA24-Pink-60: #F0AEBA;
$WCLA24-Pink-40: #F5C9D1;
$WCLA24-Pink-20: #FAE4E8;
$WCLA24-Pink-10: #FCF2F4;

/* 1.2.5 Oranges */
$WCLA24-Orange-100: #F04632;
$WCLA24-Orange-80: #F36B5B;
$WCLA24-Orange-60: #F69084;
$WCLA24-Orange-40: #F9B5AD;
$WCLA24-Orange-20: #FCDAD6;
$WCLA24-Orange-10: #FEEDEB;

/* 1.2.6 Light Greens */
$WCLA24-LightGreen-100: #82B4B9;
$WCLA24-LightGreen-80: #9BC3C7;
$WCLA24-LightGreen-60: #B4D2D5;
$WCLA24-LightGreen-40: #CDE1E3;
$WCLA24-LightGreen-20: #E6F0F1;
$WCLA24-LightGreen-10: #F3F7F8;

/* 1.2.7 Beiges */
$WCLA24-Beige-100: #E6DCBE;
$WCLA24-Beige-80: #EBE3CB;
$WCLA24-Beige-60: #F0EAD8;
$WCLA24-Beige-40: #F5F1E5;
$WCLA24-Beige-20: #FAF8F2;
$WCLA24-Beige-10: #FCFBF8;


