
/*  Colours
	========================================================================== */

/* 1.2.1 Basics: neutrals & body text colors */
$WCEU2023-DarkBlue-100: #0a3773;
$WCEU2023-TotalWhite-100: #fff;
$WCEU2023-OffWhite: #ebebe6;
$WCEU2023-AlmostBlack-100: #14191e;

/* 1.2.2 Reds */
$WCEU2023-Red-100: #cd3c5a;
$WCEU2023-Red-80: #d7637b;
$WCEU2023-Red-60: #e18a9c;
$WCEU2023-Red-40: #ebb1bd;
$WCEU2023-Red-20: #f5d8de;
$WCEU2023-Red-10: #faecef;

/* 1.2.3 Blues */
$WCEU2023-Blue-100: #1e5fb4;
$WCEU2023-Blue-80: #4b7fc3;
$WCEU2023-Blue-60: #789fd2;
$WCEU2023-Blue-40: #a5bfe1;
$WCEU2023-Blue-20: #d2dff0;
$WCEU2023-Blue-10: #e9eff7;

/* 1.2.4 Turquoises*/
$WCEU2023-Turquoise-100: #1ebeaf;
$WCEU2023-Turquoise-80: #4bcbbf;
$WCEU2023-Turquoise-60: #78d8cf;
$WCEU2023-Turquoise-40: #a5e5df;
$WCEU2023-Turquoise-20: #d2f2ef;
$WCEU2023-Turquoise-10: #e9f8f7;

/* 1.2.5 Yellows */
$WCEU2023-Yellow-100: #fac83c;
$WCEU2023-Yellow-80: #fbd363;
$WCEU2023-Yellow-60: #fcde8a;
$WCEU2023-Yellow-40: #fde9b1;
$WCEU2023-Yellow-20: #fef4d8;
$WCEU2023-Yellow-10: #fffaec;
