
/*  Colours
	========================================================================== */

/* 1.2.1 Basics: neutrals & body text colors */
$WCLA24-DarkBlue-100: #0a3773;
$WCLA24-TotalWhite-100: #fff;
$WCLA24-OffWhite: #ebebe6;
$WCLA24-AlmostBlack-100: #14191e;

/* 1.2.2 Reds */
$WCLA24-Red-100: #cd3c5a;
$WCLA24-Red-80: #d7637b;
$WCLA24-Red-60: #e18a9c;
$WCLA24-Red-40: #ebb1bd;
$WCLA24-Red-20: #f5d8de;
$WCLA24-Red-10: #faecef;

/* 1.2.3 Blues */
$WCLA24-Blue-100: #1e5fb4;
$WCLA24-Blue-80: #4b7fc3;
$WCLA24-Blue-60: #789fd2;
$WCLA24-Blue-40: #a5bfe1;
$WCLA24-Blue-20: #d2dff0;
$WCLA24-Blue-10: #e9eff7;

/* 1.2.4 Turquoises*/
$WCLA24-Turquoise-100: #1ebeaf;
$WCLA24-Turquoise-80: #4bcbbf;
$WCLA24-Turquoise-60: #78d8cf;
$WCLA24-Turquoise-40: #a5e5df;
$WCLA24-Turquoise-20: #d2f2ef;
$WCLA24-Turquoise-10: #e9f8f7;

/* 1.2.5 Yellows */
$WCLA24-Yellow-100: #fac83c;
$WCLA24-Yellow-80: #fbd363;
$WCLA24-Yellow-60: #fcde8a;
$WCLA24-Yellow-40: #fde9b1;
$WCLA24-Yellow-20: #fef4d8;
$WCLA24-Yellow-10: #fffaec;

$black-100: #000000;
$black-80: #3D3D3D;
$black-60: #6D6D6D;
$black-40: #9E9E9E;
$black-20: #CECECE;
$black-10: #E7E7E7;

$dark-red-100: #4B192D;
$dark-red-80: #6F4757;
$dark-red-60: #937581;
$dark-red-40: #B7A3AB;
$dark-red-20: #DBD1D5;
$dark-red-10: #EDE8EA;

$pink-100: #E6788C;
$pink-80: #EB93A3;
$pink-60: #F0AEBA;
$pink-40: #F5C9D1;
$pink-20: #FAE4E8;
$pink-10: #FCF2F4;

$orange-100: #F04632;
$orange-80: #F36B5B;
$orange-60: #F69084;
$orange-40: #F9B5AD;
$orange-20: #FCDAD6;
$orange-10: #FEEDEB;

$light-green-100: #82B4B9;
$light-green-80: #9BC3C7;
$light-green-60: #B4D2D5;
$light-green-40: #CDE1E3;
$light-green-20: #E6F0F1;
$light-green-10: #F3F7F8;

$beige-100: #E6DCBE;
$beige-80: #EBE3CB;
$beige-60: #F0EAD8;
$beige-40: #F5F1E5;
$beige-20: #FAF8F2;
$beige-10: #FCFBF8;
