/*   1.1 Fonts
        1.1.1 Font Families
        1.1.2 Font Weights
        1.1.3 Font Sizes
*/

/* 1.1.1 Font Families */
$Primary-font: "Geologica", sans-serif;

/* 1.1.2 Font weights */
$Regular: 400;
$Medium: 500;
$SemiBold: 600;
$Bold: 700;
$ExtraBold: 800;
