#tix-attendees {
  a {
	color: $WCLA24-Orange-100;
  }

  .tix-attendee-list {
	padding: 0;
	margin: 0;
	display: grid;
	gap: 2rem;
	grid-template: repeat(3, 1fr) / auto;

	@for $columns from 1 through 5 {
	  &.tix-columns-#{$columns} {
		grid-template-columns: repeat($columns, 1fr);
	  }
	}

	@include media-max(sm) {
	  grid-template-columns: 1fr;
	}

	li {
	  float: unset;
	  text-align: center;
	  width: 100%;
	  height: auto;
	  justify-self: center;
	}

	.avatar {
	  float: unset;
	  width: initial;
	  height: initial;
	  border-radius: 100%;
	  border: 4px solid $WCLA24-DarkRed-100;
	}

	.tix-field {
	  margin: 0;
	}

	.tix-attendee-name {
	  font-family: $Primary-font;
	  color: $WCLA24-DarkRed-100;
	  font-weight: $Bold;
	  font-size: 1rem;
	}
  }
}
