#tix-attendees {
  a {
	color: $WCLA24-Orange-100;
  }

  .tix-attendee-list {
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;

	li {
	  float: unset;
	  text-align: center;

	  @for $columns from 1 through 5 {
		flex: 0 0 calc(100% / $columns);
	  }

	  @include media-max(sm) {
		flex-basis: 100%;
	  }
	}

	.avatar {
	  float: unset;
	  width: initial;
	  height: initial;
	  border-radius: 100%;
	  border: 4px solid $WCLA24-DarkRed-100;
	}

	.tix-attendee-name {
	  font-family: $Primary-font;
	  color: $WCLA24-DarkRed-100;
	  font-weight: $Bold;
	  font-size: 1rem;
	}
  }
}
