.page-id-1950 {
	.cfs-topics {
		background: $WCLA24-Yellow-20 !important;

		@include media-min(md) {
			min-height: 560px !important;
		}

		.has-large-font-size {
			color: $WCLA24-Red-100 !important;
		}
	}

	.cfs-bottom {

		background: $WCLA24-Yellow-20 !important;

		.has-large-font-size {
			color: $WCLA24-Red-100 !important;
		}
	}

	.wp-block-jetpack-contact-form {
		label {
			color: $WCLA24-DarkBlue-100 !important;
		}

		.wp-block-heading {
			color: $WCLA24-Red-100 !important;
		}

		.wp-block-button__link {
			width: 100%;
			margin-bottom: 3rem !important;
		}
	}
}
