.page-id-3677 {
	.wp-block-table {
		color: $WCLA24-DarkBlue-100;

		td {
			background: $WCLA24-Yellow-20;
			padding: 20px;

			&:first-child {
				background: $WCLA24-Yellow-40;
			}
		}
	}

	.forceBlue100 {
		a {
			color: $WCLA24-DarkBlue-100 !important;
		}
	}

	.index-table {
		min-height: 315px;
	}
}
