.page-id-4451 {
	.wp-block-jetpack-contact-form {
		@include media-max(md) {
			.grunion-field-width-50-wrap {
				flex: 1 1 calc(50% - var(--wp--style--block-gap, 1.5rem) * 1);
				max-width: 50%;
				flex: 1 1 100%;
				max-width: 100%;
			}
		}
	}
}
