.home,
.page-id-16318,
.page-id-16383,
.page-id-16389 {

	/* hero section */
	.home-hero {
		position: relative;
		overflow: hidden;
		margin-top: -1.5rem;

		&::after {
			content: "";
			display: block;
			position: absolute;
			background-image: url(//europe.wordcamp.org/2023/files/2022/12/homepage-hero-section-symbol.png);
			background-position: top right;
			background-repeat: no-repeat;
			z-index: 10;
			width: 600px;
			height: 600px;
			bottom: -100px;
			right: 0;

			@include media-max(sm) {
				display: none;
			}
		}

		h1,
		p {
			color: $WCLA24-TotalWhite-100;
			font-weight: $ExtraBold;
		}

		p {
			font-weight: $SemiBold;
		}

		.wp-block-button .wp-block-button__link {
			background-color: $WCLA24-Orange-100;
			padding: 15px 25px;
			font-weight: bold;
		}
		.secondary-button {
			a {
				background-color: #fff !important;
				color: $WCLA24-DarkRed-100 !important;
			}
		}
	}
}

