.home {

	/* hero section */
	.home-hero {
		position: relative;
		overflow: hidden;
		margin-top: -1.5rem;

		h1,
		p {
			color: $WCLA24-TotalWhite-100;
			font-weight: $ExtraBold;
		}

		p {
			font-weight: $SemiBold;
		}

		.wp-block-button .wp-block-button__link {
			background-color: $WCLA24-Orange-100;
			padding: 15px 25px;
			font-weight: bold;
		}
		.secondary-button {
			a {
				background-color: #fff !important;
				color: $WCLA24-DarkRed-100 !important;
			}
		}
	}
}

