.page-template-wp-custom-template-screen-template-no-header-no-footer-200px-top-200px-bottom {
	background-color: #faf8f2;
	padding-top: 200px!important;
	padding-bottom: 200px;

	.wp-site-blocks {
		width: 75%;
		margin: 0 auto;
	}

	// .wordcamp-live-schedule__session-time,
	.wordcamp-live-schedule__schedule-link.wp-block-button__link {
		display: none !important;
	}

	.wordcamp-live-schedule__session-title {
		margin-bottom: 0!important;
		a {
			text-decoration: none!important;
		}
	}

	.sharedaddy {
		display: none !important;
	}
}