.page-id-12 {

	main {
		margin-top: 6.25rem;

		@include media-max(md) {
			margin-top: 4rem;
		}
	}

	.page-intro-paragraph {
		font-size: 1.5625rem;
		font-weight: $Medium;
	}

	li.wcb_organizer {
		background-color: $WCLA24-TotalWhite-100;
		margin-top: 6.25rem;

		@include media-max(md) {
			margin-top: 4rem;
		}

		.organizer-avatar-col {
			padding: 4rem 1.5rem 4rem 3rem;

			@include media-max(md) {
				padding: 3rem 2rem 1rem;
			}

			.wp-block-wordcamp-avatar {
				max-width: 256px;
				margin: 0 auto;
			}
		}

		.organizer-info-col {
			padding: 4rem 3rem 4rem 1.5rem;

			@include media-max(md) {
				padding: 1rem 2rem 3rem;
			}

			h2 {
				font-size: 2.5rem;

				@include media-max(md) {
					font-size: 2.1875rem;
				}
			}

			.entry-content {
				font-size: 1.25rem;
			}
		}
	}
}
