.wordcamp-schedule__day {
  .wordcamp-schedule__time-slot-header {
	background-color: #F0AEBA !important;
	border-left: 10px solid #E5788D !important;
	font-weight: $Bold;
	font-size: 1rem;
	box-shadow: none !important;

	&.is-empty {
	  display: none !important;
	}
  }

  .wordcamp-schedule__column-header {
	font-size: 1.2rem;
	line-height: 3;
	background-color: #E5788D !important;
	color: $WCLA24-DarkRed-100;
  }

  .wordcamp-schedule__session {
	background-color: #FCF2F3;
	box-shadow: 0 0 1px 1px $WCLA24-Beige-60 !important;

	&:hover {
	  background-color: #F4C9D1;
	}

	&-category {
	  color: $WCLA24-DarkRed-100;
	}

	&-title {
	  font-size: 1.2em;
	  font-weight: 600;

	  a {
		color: $WCLA24-DarkRed-100;
	  }

	  .wcb-session-favourite-icon {
		a.fav-session-button {
		  color: $WCLA24-Black-40 !important;

		  &:hover,
		  &:active,
		  &:focus,
		  &[aria-pressed="true"] {
			color: $WCLA24-DarkRed-100 !important;
		  }

		  .dashicons-star-filled:before {
			content: "\f154";
		  }

		  &[aria-pressed="true"] {
			.dashicons-star-filled:before {
			  content: "\f155";
			}
		  }
		}
	  }
	}
  }

  @media print {
	.wordcamp-schedule__session,
	.wcb-session-favourite-icon {
	  display: block !important;
	  text-align: center !important;
	}
  }
}

.wordcamp-schedule__date {
	padding: 20px;
	margin-bottom: -20px;
	background-color: white;
}
