.single-wcb_sponsor {

	@include media-min(md) {

		main {
				padding: 30px;
			}

		.wp-site-blocks {
			background: url(//europe.wordcamp.org/2023/files/2023/04/sponsors-page-background.png),
				url(//europe.wordcamp.org/2023/files/2023/04/sponsors-page-background-2.png);
			background-position: 0 20%, 100% 40%;
			background-repeat: no-repeat;
			background-size: 600px;
		}
	}

	.wp-block-post-featured-image {
		max-width: 600px;
	}

	.sponsorship-tier {
		margin-bottom: -30px !important;

		a {
			color: #0a3773 !important;
			font-size: 1.5rem !important;
			pointer-events: none;
			text-decoration: none !important;
			font-weight: bold;
		}
	}

	.single-sponsor-content-container {
		h2,
		h3 {
			font-family: $Geologica;
			font-size: 2.5rem;
			margin-bottom: -15px;
			color: $WCLA24-DarkBlue-100;
		}

		.taxonomy-wcb_sponsor_level {

		}

		.find-them-on-the-booth {
			img {
				border-radius: 50% !important;
			}
			.wp-element-caption {
				font-size: 1.3rem;
				margin-top: 20px;
				color: $WCLA24-DarkBlue-100;
				font-family: $Mulish;
			}

			.staff-links {
				width: 80%;
				margin: 0 auto;
				@include media-max(md) {
					.wp-block-column {
						max-width: 25%;
					}
				}

				img {
					max-width: 40px;
				}
			}
		}

		.join-their-party {
			h5 {
				font-weight: bold;
				text-transform: initial !important;
				font-size: 1.5rem;
			}
		}
		.connect-with-them {
			li {
				font-size: 1.3rem;
				a {
					color: $WCLA24-DarkBlue-100;
				}
			}
		}
	}
	footer {
		.footer-subscribe,
		.social-bar {
			display: none;
		}
	}
}
