.single-post {

	.wp-block-post-featured-image {
		margin-bottom: 2.1875rem;
	}

	.related-posts {
		background-color: $WCLA24-LightGreen-40;
		padding-top: 9rem;
		padding-bottom: 9rem;

		@include media-max(md) {
			padding-top: 6rem;
			padding-bottom: 6rem;
		}

		.wp-block-post-template.is-layout-grid {
			gap: 35px;
		}

		.wp-block-heading {
			font-weight: $ExtraBold;
		}

		.wp-block-query {
			margin-top: 3.75rem;
		}
	}
}
