.single-wcb_speaker {
  .speaker-avatar {
	display: none !important;
  }

  .speaker-social-handles a {
	text-decoration: underline !important;
	color: $WCLA24-DarkRed-100 !important;
  }

  .entry-content {
	.wp-block-group:has(.wp-block-wordcamp-speaker-sessions) {
	  background-color: $WCLA24-Pink-60;
	  padding: 2.25rem 3.125rem;

	  .wp-block-heading {
		margin-bottom: 3.125rem;
	  }

	  .wp-block-wordcamp-speaker-sessions {
		li {
		  p {
			font-size: 1.25rem;
			margin: 0;

			a {
			  color: $WCLA24-DarkRed-100;
			  text-decoration: none;

			  &:hover {
				text-decoration: underline;
			  }
			}

			&.wordcamp-speaker-sessions__session-info {
			  font-size: 1rem;
			  margin-top: 1.125rem;
			}
		  }
		}
	  }
	}
  }
}
