.single-wcb_session {
  .wp-block-columns {
	gap: 5rem;
  }

  .wp-block-wordcamp-session-speakers {
	&__byline {
	  display: none;
	}

	&__name {
	  &::before,
	  a {
		font-size: 1rem;
		color: $WCLA24-DarkRed-100;
		font-family: $Primary-font;
		font-weight: bold;
	  }

	  &::before {
		content: 'Speaker: ';
	  }
	}
  }

  .taxonomy-wcb_session_category.wp-block-post-terms {
	margin-top: 0.5rem;

	&::before,
	a {
	  font-size: 1rem;
	  color: $WCLA24-DarkRed-100;
	  font-family: $Primary-font;
	  font-weight: bold;
	}

	a {
	  text-decoration: none;
	  pointer-events: none;
	}

	&::before {
		content: '#' / 'Category';
	}
  }
}

