.single-post {
	//header bg override
	header {
		.wp-block-group.has-background {
			background-color: $WCLA24-Yellow-40 !important;
		}
	}

	main {
		.wp-block-heading {
			color: $WCLA24-Red-100 !important;
		}
	}

	footer {
		margin-top: -25px;
		//hide footer subscribe
		.footer-subscribe {
			display: none;
		}
	}

}
