.page-slug-omilites {
  .wp-block-post-template {
	.wp-block-post.type-wcb_speaker {
	  margin-bottom: 3.5rem;

	  .wp-block-columns {
		gap: 4.5rem;
	  }

	  .wp-block-post-title {
		margin-bottom: 1.5rem;

		a {
		  font-size: 2.5rem;
		  color: $WCLA24-DarkRed-100;
		  text-decoration: none;

		  &:hover {
			text-decoration: underline;
		  }
		}
	  }

	  .wp-block-post-excerpt {
		margin-bottom: 1.5rem;
	  }

	  .wp-block-wordcamp-avatar {
		img {
			width: 100%;
			object-fit: cover;
		}
	  }

	  .wp-block-wordcamp-speaker-sessions {
		background-color: $WCLA24-Pink-60;
		padding: 3.125rem;

		li {
		  p {
			font-size: 1.25rem;
			margin: 0;

			a {
			  color: $WCLA24-DarkRed-100;
			  text-decoration: none;

			  &:hover {
				text-decoration: underline;
			  }
			}

			&.wordcamp-speaker-sessions__session-info {
			  font-size: 1rem;
			  margin-top: 1.125rem;
			}
		  }
		}
	  }
	}
  }
}
