.post-template-wp-custom-template-speakers-announcements {
	.alignfull.speakers-anouncement-sl {
		.wordcamp-speaker {
			.wordcamp-speakers__title a {
				color: #c41e3a !important;
				font-weight: 700;
			}

			.wordcamp-image__avatar-container img {
				border: 10px solid #1e5fb4;
				border-radius: 100%;
				width: 300px !important;
				height: 300px !important;
				
				@include media-max(md) {
					width: 250px !important;
					height: 250px !important;
				}
			}

			.wordcamp-speakers__sessions {
				background-color: #00b4a9;
				padding: 20px;
				margin-top: 30px;
				font-size: 2.2rem;

				.wordcamp-speakers__sessions-heading {
					margin: 0;
					font-size: 1.2rem;
				}

				.wordcamp-speakers__session-link {
					color: #1b3c9d !important;
					font-weight: 700;
					text-decoration: none !important;
					font-size: 1.5rem;
				}

				.wordcamp-speakers__session-info {
					margin-top: 5px;
					font-size: 1rem !important;
				}
			}
		}

		@include media-min(md) {
			.wordcamp-post-list {
				display: inline-flex;
				flex-wrap: wrap;
				justify-content: space-evenly;
				gap: 2em;

				.wordcamp-post-list__post {
					max-width: calc(33.33% - 2em);
				}

				.wordcamp-post-list__post:nth-child(4),
				.wordcamp-post-list__post:nth-child(5) {
					width: calc(50% - 5px);
				}
			}
		}

		@include media-max(md) {
			.wordcamp-post-list.wordcamp-post-list {
				padding: 0;
			}
		}
	}

	.footer-subscribe {
		display: block !important;
	}
}
