.page-template-wp-custom-template-speakers {

	@include media-min(md) {
		.wp-site-blocks {
			background: url(//europe.wordcamp.org/2023/files/2023/02/all-speakers-page-vector.png);
			background-repeat: no-repeat;
			background-size: 600px;
			background-position: -200px 35%;
		}
	}

	main {
		overflow-x: hidden;

		.wp-block-group {
			max-width: 1680px !important;
			margin-left: auto !important;
			margin-right: auto !important;
			margin-bottom: 40px;
		}
	}

		@include media-min(md) {
			.wordcamp-post-list.has-layout-grid {
				grid-column-gap: 3em;
			}
		}
	// .wordcamp-speakers {
	// 	padding: 0;
	// }

	.wordcamp-speaker {
		.wordcamp-speakers__title {
			a {

				color: $WCLA24-DarkRed-100 !important;
				font-weight: $Bold;

				@include media-min(md) {
					text-align: left !important;
					font-size: 2.2rem;
					text-decoration: none;
				}
			}
		}

		.wordcamp-image__avatar-container {
			img {
				border: 10px solid #1e5fb4;
				border-radius: 100%;
				width: 300px !important;
				height: 300px !important;
				@include media-max(md) {
					width: 250px !important;
					height: 250px !important;
				}
			}
		}

		.wordcamp-speakers__sessions {
			background-color: $WCLA24-DarkRed-40;
			padding: 20px;
			margin-top: 30px;
			font-size: 1.2rem;

			.wordcamp-speakers__sessions-heading {
				margin: 0;
				font-size: 1.2rem;
			}

			.wordcamp-speakers__session-link {
				color: $WCLA24-DarkRed-100 !important;
				font-weight: $Bold;
				text-decoration: none !important;
				font-size: 1.5rem;
			}

			.wordcamp-speakers__session-info {
				margin-top: 5px;
				font-size: 1rem !important;
			}
		}
	}



	.wordcamp-post-list__post:is(:has(.wordcamp-speaker.wordcamp-speakers__post.slug-viola-gruner-2)) {
 		 display: none;
	}
}
