/*  Typography
	========================================================================== */

h1,
.WCEU2023-HeadingOne {
	font-family: $Primary-font;
	font-weight: $Bold;
	font-size: 3.125rem;
	color: $WCLA24-DarkRed-100;
}

/* 3.1.2 Heading 2 */
h2,
h2.wp-block-post-title,
.WCEU2023-HeadingTwo {
	font-family: $Primary-font;
	font-weight: $Bold;
	font-size: 2.5rem;
	color: $WCLA24-DarkRed-100;
}

/* 3.1.3 Heading 3 */
h3,
.WCEU2023-HeadingThree {
	font-family: $Primary-font;
	font-weight: $SemiBold;
	color: $WCLA24-DarkRed-100;
}

/* 3.1.4 Heading 4 */
h4,
.WCEU2023-HeadingFour {
	font-family: $Primary-font;
	font-weight: $Medium;
	color: $WCLA24-DarkRed-100;
}

/* 3.1.5 Heading 5 */
h5,
.WCEU2023-HeadingFive {
	font-family: $Primary-font;
	font-weight: $Medium;
	color: $WCLA24-DarkRed-100;
}

/* 3.1.6 Heading 6 */
h6,
.WCEU2023-HeadingSix {
	font-family: $Primary-font;
	font-weight: $SemiBold;
	color: $WCLA24-DarkRed-100;
}

/* 3.2 Paragraph - Body Block Text */
.WCEU2023-BlockText,
p {
	font-family: $Primary-font;
	font-weight: $Regular;
	color: $WCLA24-Black-100;
}

a:where(:not(.wp-element-button)) {
	color: $WCLA24-Orange-100;
}
