/*  Footer
	========================================================================== */

footer {
	margin-bottom: -25px !important;

	.is-layout-flex {

		@include media-max(md) {
			gap: 3.5rem;
		}
	}

	.wp-block-button__link {
		background: #fff;
		color: #0a3773;
	}

	a:not(.wp-block-social-link-anchor),
	p,
	h4 {
		color: #fff;
		text-decoration: none;
	}

	.wp-block-navigation .wp-block-navigation-item__label {
		font-size: "1.2rem";
		color: #fff;
	}

	.wp-block-navigation__container {

		@include media-max(sm) {
			justify-content: flex-start;
		}

		span {
			font-size: "1.2rem";
			color: #fff;
		}
	}

	//social-bar
	.social-bar {
		background-color: $WCLA24-LightGreen-80;

		.wp-block-social-links {
			justify-content: space-evenly;
		}
	}

	.footer-subscribe {
		overflow: hidden;

		.inner-footer-subscribe-container {

			@include media-max(sm) {
				padding: 20px !important;
			}
		}


		form {
			margin-top: 50px;

			#subscribe-email {
				position: relative;

				#jetpack-subscribe-label {
					top: -30px;
					width: auto;
					clip: unset;
					clip-path: none;
					height: auto;
					font-family: $Primary-font;
					font-weight: $SemiBold;
					font-size: 1rem !important;
				}
			}

			button {
				cursor: pointer;
			}
		}

		button.wp-block-button__link.no-border-radius {
			font-family: $Primary-font;
			font-weight: $SemiBold;
			color: #fff !important;
		}
	}
}
