/*  Header
	========================================================================== */

header {

	.wp-block-group.alignfull {
		background-color: $WCLA24-DarkRed-100;
		padding-top: 50px;
		padding-bottom: 50px;

		@include media-max(md) {
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}

	.top-logo {
		img {
			width: 247px;
		}
	}

	.wp-block-navigation {
		ul,
		.wp-block-navigation-item__content {
			font-family: $Primary-font;
			color: $WCLA24-TotalWhite-100;
			font-size: 1.375rem;
			font-weight: $SemiBold;
		}

		.wp-block-navigation__submenu-container {
			background-color: $WCLA24-Beige-40;

			.wp-block-navigation-item__content {
				color: $WCLA24-DarkRed-100;
				font-size: 1.25rem;
				width: max-content;
			}
		}

		// ???
		li:last-child {
			.wp-block-navigation__submenu-container {
				// min-width: 400px !important;

				li {
					text-align: right;

					a {
						display: inline-block !important;
					}
				}
			}
		}

		// mobile modal
		.wp-block-navigation__responsive-container.is-menu-open {
			background-color: $WCLA24-DarkRed-100 !important;

			//.wp-block-navigation-item__label,
			.wp-block-navigation-item__content {
				color: $WCLA24-TotalWhite-100;
			}

			.wp-block-navigation__submenu-container {
				li:not(:last-child) {
					margin-bottom: 10px;
				}

				.wp-block-navigation-item__content {
					color: $WCLA24-Beige-100;
					font-size: 1.25rem;
					font-weight: $Medium;
				}
			}
		}

		// open/close buttons
		button.wp-block-navigation__responsive-container-open,
		button.wp-block-navigation__responsive-container-close {
			color: $WCLA24-TotalWhite-100;
		}
	}

	//.wp-block-navigation__responsive-container.is-menu-open {
	//	background-color: $WCLA24-DarkRed-100 !important;
	//}

	@include media-max(lg) {
		#modal-2 {

			a.wp-block-navigation-item__content {
				color: $WCLA24-DarkRed-100 !important;
			}

			.wp-block-navigation__submenu-container {
				padding-top: 0 !important;
				padding-right: 0;
			}
		}
	}
}

// nav block breakpoint
@include media-max(lg) {
	.wp-block-navigation__responsive-container:not(.has-modal-open) {
		bottom: 0 !important;
		display: none !important;
		left: 0 !important;
		position: fixed !important;
		right: 0 !important;
		top: 0 !important;
	}

	.wp-block-navigation__responsive-container-open:not(.always-shown) {
		display: initial;
	}
}

.top-search {
	display: none !important;

	@include media-min(xxl) {
		display : initial !important;
  		margin-left: -620px!important
	}

	.wp-block-search__inside-wrapper {
		position: relative;
		width: auto !important;
		min-width: 0;
		border: none;
	}


	.wp-block-search__button {
		border-radius: 50%;
		height: 55px;
		width: 55px;
		background: #fff;
	}

	.wp-block-search__button svg {
		min-height: 40px;
		margin-top: 10px;
		min-width: 65px;
		vertical-align: text-bottom;
		position: absolute;
		top: 0;
		right: 0;
		fill: $WCLA24-DarkRed-100;
	}

	.wp-block-search__input {
		width: 0;
		min-width: 0;
		padding: 10px;
		opacity: 0;
		visibility: hidden;
		transition: width 0.3s ease-in-out, padding 0.3s ease-in-out,
			opacity 0.3s ease-in-out;
	}

	.wp-block-search__button {
		position: static;
	}

	.wp-block-search__inside-wrapper:hover .wp-block-search__input,
	.wp-block-search__inside-wrapper:focus .wp-block-search__input {
		width: 450px;
		opacity: 1;
		visibility: visible;
	}
}
