#contact-form-17 {
	font-family: $Primary-font !important;

	.wp-block-jetpack-contact-form {
		justify-content: center;
	}

	.grunion-field-label {
		color: $WCLA24-DarkRed-100;
	}

	input[type="text"] {
		border: 1px solid $WCLA24-DarkRed-100;
	}

	//copied from tickets page
	button {
		background-color: $WCLA24-DarkRed-100 !important;
		border: none;
		border-radius: 2rem;
		color: $WCLA24-TotalWhite-100;
		font-family: $Primary-font;
		font-size: 1.2rem;
		font-weight: $ExtraBold;
		display: block;
		line-height: 1.5;
		padding: 1rem;
		transition: background-color 0.3s ease;
		width: 100%;

		&:hover {
			background-color: $WCLA24-DarkRed-80;
		}
	}
}
