// applies to all forms, not just "contact-us" form
form.contact-form {
	font-family: $Primary-font;
	padding-bottom: 40px;
	margin-top: 40px;
	--wp--style--block-gap: 2.5rem;
	--jetpack--contact-form--border-color: #{$WCLA24-DarkRed-100};
	--jetpack--contact-form--border-size: 2px;

	input[type=text],
	input[type=email],
	input[type=tel],
	input[type=url],
	textarea {
		border: 2px solid $WCLA24-DarkRed-100;
		padding: 10px;
	}

	.grunion-field-label {
		color: $WCLA24-DarkRed-100;
		font-size: 22px;
		font-weight: 600;
		margin-bottom: 0.6rem;
	}

	button[type="submit"] {
		width: 100%;
	}
}
