.latest-news {
	padding-top: 60px;
	padding-bottom: 60px;

	a.wp-block-read-more {
		margin: 0;
	}

	ul {
		max-width: 1680px !important;
	}

	.wp-block-post-excerpt {
		margin-top: 0;
	}

	.wp-block-post-excerpt__excerpt {
		max-height: 80px;
		overflow: hidden;
		display: inline-block;
	}

	.wp-block-post-title {
		font-family: $Primary-font !important;
		font-weight: $Bold !important;
		color: $WCLA24-DarkRed-100;
		font-size: 2rem;
		margin-top: 0;
	}

	.wp-block-post-date {
		color: $WCLA24-DarkRed-100;
	}

	@include media-max(xxl) {
		.home-articles {
 	   		width: 90%!important;
			margin: 0 auto !important;
		}
		.alignfull:not(.wp-block-group) .alignfull {
			width: 90%!important;
			margin: 0 auto !important;
		}
	}

	@include media-min(lg) {
		.home-articles {
 	   		width: 90%!important;
		}
	}
}

//single post - related posts section
.single-post {
	.latest-news {
		background: $WCLA24-LightGreen-40;
	}
}
