/*  Pagination Block
	========================================================================== */

.wp-block-query-pagination {
	color: $WCLA24-DarkBlue-100;
	font-family: $Mulish;
	font-size: large;

	.wp-block-query-pagination-previous,
	.wp-block-query-pagination-next {

		color: $WCLA24-DarkBlue-100 !important;
		font-size: 1.4rem !important;

	}

	.wp-block-query-pagination-numbers {
		font-weight: $Bold;

		a {
			color: $WCLA24-DarkBlue-100;
			margin: 8px;
			font-size: 1.2rem !important;
		}

		span {
			color: $WCLA24-Red-100;
			margin: 8px;
			font-size: 1.2rem !important;
			font-weight: 400;
		}

	}
}
