.page-cover {
	margin-top: 0;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 80% 50%;

	@include media-max(md) {
		background-position: bottom right;
		min-height: 200px !important;
	}

	.wp-block-post-title,
	.wp-block-heading {
		color: $WCLA24-TotalWhite-100 !important;
	}

	&.dark-red-cover {
		background-color: $WCLA24-DarkRed-100;
	}

	&.pink-cover {
		background-color: $WCLA24-Pink-100;
	}

	&.orange-cover {
		background-color: $WCLA24-Orange-100;
	}

	&.light-green-cover {
		background-color: $WCLA24-LightGreen-100;
	}

	&.beige-cover {
		background-color: $WCLA24-Beige-100;
	}
}

// news page | search page
.category-news,
.search-results {
	header {
		.wp-block-group.has-background {
			background-color: $WCLA24-DarkRed-100 !important;
		}
	}
}

// speakers page & single speaker page | schedule page
.single-wcb_speaker,
.page-template-wp-custom-template-speakers,
.page-template-wp-custom-template-schedule {
	header {
		.wp-block-group.has-background {
			background-color: $WCLA24-DarkRed-100 !important;
		}
	}
	.page-cover {
		h4 {
			font-size: 1.3rem;
			font-weight: bold;
			margin-bottom: -15px;
		}
	}
}

// single session page
.single-wcb_session {
	header {
		.wp-block-group.has-background {
			background-color: $WCLA24-DarkRed-100 !important;
		}
	}
	.page-cover {
		h4 {
			font-size: 1.3rem;
			font-weight: bold;
			margin-bottom: -15px;
		}
	}
}
