.page-cover {
	min-height: 450px !important;
	padding-top: 0 !important;
	padding-bottom: 200px !important;
	margin-top: 0;
	background-image: url(//larissa.wordcamp.org/2024/files/2024/09/Two-Lines.png);
	background-size: auto 192px;
	background-position: left bottom;
	background-repeat: repeat-x;

	@include media-max(md) {
		min-height: 350px !important;
		padding-bottom: 100px !important;
		background-size: auto 100px;
	}

	.wp-block-post-title,
	.wp-block-heading {
		color: $WCLA24-TotalWhite-100 !important;
		font-weight: $ExtraBold;
		font-size: 3.125rem;

		@include media-max(md) {
			font-size: 2.25rem;
		}
	}

	&.dark-red-cover {
		background-color: $WCLA24-DarkRed-100;
	}

	&.pink-cover {
		background-color: $WCLA24-Pink-100;
	}

	&.orange-cover {
		background-color: $WCLA24-Orange-100;
	}

	&.light-green-cover {
		background-color: $WCLA24-LightGreen-100;
	}

	&.beige-cover {
		background-color: $WCLA24-Beige-100;
	}
}

// news page | search page
.category-news,
.search-results {
	header {
		.wp-block-group.has-background {
			background-color: $WCLA24-DarkRed-100 !important;
		}
	}
}

// speakers page & single speaker page | schedule page
.single-wcb_speaker,
.page-template-wp-custom-template-speakers,
.page-template-wp-custom-template-schedule {
	header {
		.wp-block-group.has-background {
			background-color: $WCLA24-DarkRed-100 !important;
		}
	}
	.page-cover {
		h4 {
			font-size: 1.3rem;
			font-weight: bold;
			margin-bottom: -15px;
		}
	}
}

// single session page
.single-wcb_session {
	header {
		.wp-block-group.has-background {
			background-color: $WCLA24-DarkRed-100 !important;
		}
	}
	.page-cover {
		h4 {
			font-size: 1.3rem;
			font-weight: bold;
			margin-bottom: -15px;
		}
	}
}
