.wordcamp-sponsors.wordcamp-post-list.has-layout-grid {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 0;

  @include media-min(sm) {
	gap: 2rem;
  }

  @include media-min(md) {
	gap: 3rem;
  }

  li.wordcamp-post-list__post {
	margin: 0;
  }

  a {
	display: block;
	text-align: center;
  }

  img {
	max-width: 100%;
	max-height: 225px;
	height: auto;
	width: auto;
  }

  &.wordcamp-sponsors-premium {
	@include media-min(md) {
	  grid-template-columns: repeat(2, 1fr);
	}
  }

  &.wordcamp-sponsors-business {
	@include media-min(xs) {
	  grid-template-columns: repeat(2, 1fr);
	}

	@include media-min(md) {
	  grid-template-columns: repeat(3, 1fr);
	}
  }

  &.wordcamp-sponsors-digital {
	@include media-min(xs) {
	  grid-template-columns: repeat(2, 1fr);
	}

	@include media-min(md) {
	  grid-template-columns: repeat(4, 1fr);
	}
  }
}
