.wordcamp-sponsors {
  list-style-type: none;
  padding: 0;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  gap: 3rem;

  img {
	max-width: 100%;
	height: auto;
  }

  &.wordcamp-sponsors-premium {
	@include media-min(md) {
	  grid-template-columns: repeat(2, 1fr);
	}
  }

  &.wordcamp-sponsors-business {
	@include media-min(sm) {
	  grid-template-columns: repeat(2, 1fr);
	}

	@include media-min(md) {
	  grid-template-columns: repeat(3, 1fr);
	}

	@include media-min(lg) {
	  grid-template-columns: repeat(4, 1fr);
	}
  }

  &.wordcamp-sponsors-digital {
	@include media-min(sm) {
	  grid-template-columns: repeat(2, 1fr);
	}

	@include media-min(md) {
	  grid-template-columns: repeat(4, 1fr);
	}

	@include media-min(lg) {
	  grid-template-columns: repeat(6, 1fr);
	}
  }
}
