.sponsor-tier {
	background: $WCLA24-Yellow-20 !important;
	color: $WCLA24-DarkBlue-100;
	font-weight: $SemiBold;
	padding: 40px;

	.wp-block-heading {
		color: $WCLA24-Red-100;
		text-transform: none;
	}

	.wp-block-button__link {
		width: 100%;
	}

	.tier-top {
		padding-bottom: 15px;
		border-bottom: 10px solid $WCLA24-DarkBlue-100 !important;

		li {
			color: $WCLA24-Red-100;
			font-weight: $Bold;
		}
	}
}
