.sponsor-tier {
	background: $WCEU2023-Yellow-20 !important;
	color: $WCEU2023-DarkBlue-100;
	font-weight: $SemiBold;
	padding: 40px;

	.wp-block-heading {
		color: $WCEU2023-Red-100;
		text-transform: none;
	}

	.wp-block-button__link {
		width: 100%;
	}

	.tier-top {
		padding-bottom: 15px;
		border-bottom: 10px solid $WCEU2023-DarkBlue-100 !important;

		li {
			color: $WCEU2023-Red-100;
			font-weight: $Bold;
		}
	}
}
