.wordcamp-community-home {
	margin-bottom: -25px;

	.wc-comm {
		display: flex;
		justify-content: space-between;
	}

	.wc-comm-section {
		background-repeat: no-repeat !important;
		background-position: right !important;
		align-items: flex-end !important;

		@include media-min(md) {
			aspect-ratio: 1/1;
			height: 250px;
		}

		@include media-max(md) {
			width: 90%;
			margin: 0 auto;
			background-size: contain !important;
		}

		a {
			color: #fff !important;
		}
	}

	.wc-comm-organizers {
		background: url(//europe.wordcamp.org/2023/files/2022/12/Organizers-leaf.png);
	}

	.wc-comm-volunteers {
		background: url(//europe.wordcamp.org/2023/files/2022/12/Volunteers-symbol.png);
	}

	.wc-comm-speakers {
		background: url(//europe.wordcamp.org/2023/files/2023/01/WCEU2023-Symbols15.png);
		background-position: 180px !important;

		@include media-max(md) {
			background-position: 110% !important;
		}
	}

	.wc-comm-attendees {
		background: url(//europe.wordcamp.org/2023/files/2022/12/attendees-symbol.png);
	}

	.wc-comm-sponsors {
		background: url(//europe.wordcamp.org/2023/files/2023/01/WCEU2023-Symbols04.png);
		background-position: 180px !important;

		@include media-max(md) {
			background-position: 110% !important;
		}
	}
}
